main{
    height: 80vh;
    width: 100vw;
    background-image: url(bg.jpg);
    position: relative;
    
    background-size: max(1200px,100vw);
    background-position: center center;
    background-repeat: no-repeat;
    
    
}
main .box{
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.64;
    position: absolute;
    top: 0;
}
.nav{
    
    width:80vw;
    margin: auto;
    height: 80px;
    display: flex;
    justify-content: space-between;
    
    align-items: center;
    

}
.buttons{
    display: flex;
    gap:11px;

}
.hero{
    position: absolute;
    height: 100%;
    top: 40px;
    padding: 23px;
    box-sizing: border-box;
    
    
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: poppins;
    gap: 15px;

}

.hero :nth-child(1){
    font-weight: 900;
    font-size: 56px;
    
    
}
.hero :nth-child(2){
    font-weight: 900;
    font-size: 56px;
    
}
.hero :nth-child(3){
    font-weight: 500;
    font-size: 20px;
    
}
.hero :nth-child(4){
    font-weight: 400;
    font-size: 16px;
    
}
.hero :nth-child(5) input{
    font-weight: 400;
    font-size: 16px;
    

    
}
.hero :nth-child(5) button{
    font-weight: 500;
    font-size: 24px;
    

    
}

body{
    background-color: black;
}
.nav img{
    height: 40px;
    padding: 20px;
    z-index: 10;
}
.nav .buttons{
    z-index: 10;
    
}
.seperation{
    position: absolute;
    bottom: 0;
    height: 6px;
    background-color: rgb(43, 43, 43);
    width: 100vw;
    

}
.button{
    font-weight: bolder;
    color: rgb(242, 241, 241);
    cursor: pointer;

}
.redtopbutton{
    background-color: rgb(224, 1, 1);
    border: 0;
    border-radius: 4px;
    padding: 8px 15px;


}
.redbutton{
    padding: 12px 24px;
    background-color: rgb(224, 1, 1);
    border: 0;
    border-radius: 4px;
    font-weight: bolder;

}
.emailbox{
    padding: 12px 55px;
    padding-left: 12px;
    background-color: rgba(23,23,23,0.2);
    
    border-color: rgb(242, 241, 241);
    border-radius: 4px;
    

}
.btn{
    display: flex;
    align-content: center;
    justify-content: center;
    gap: 9px;
}
.whitetopbutton{
    border-radius: 2px;
    padding: 3px 38px;
    background-color: rgba(23,23,23,0.2);
    color: rgb(242, 241, 241);
    border: 0.5px solid rgb(189, 188, 188);

}
.section{
    display: flex;
    
    gap: 10px;
    position: relative;
    
    color: white;
    align-items: center;
    max-width: 70vw;
    margin: auto;
    justify-content: center;
    font-family: poppins;
    height: 65vh;
    

}
.second{
    max-width: 75vw;
}
.fourth{
    max-width: 75vw;
}
.sectiont{
    display: flex;
    
    flex-direction: column;
    gap: 15px;
}
.sectiont :nth-child(1){
    font-weight: 900;
    font-size: 48px;
}
.sectiont :nth-child(2){
    font-weight: 400;
    font-size: 24px;
}
.secimg img{
    max-width: 35vw;
    z-index: 15;
    position: relative;
    
}
.secimg{
    position: relative;
}
.secimg video{
    max-width: 30vw;
    position: absolute;
    top: 73px;
    right: 6px;
}
.third .secimg video{
    max-width: 30vw;
    position: absolute;
    top: 65px;
    right: 6px;
}
.faq{
    font-family:poppins ;
}
.faqt{
    font-weight: 500;
    font-size: 24px;
    color: white;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 20px;
}
.faqbox svg {
    filter: invert(1);
}
.faqbox:hover {
    background-color: #414141;
    color: white;
}
.faqbox{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 25px;
    font-weight: 400;
    color: white;
    font-size: 24px;
    background-color: #2d2d2d;
    max-width: 70vw;
    margin: 10px auto;
    cursor: pointer;
    transition: all 0.5s ease-out;

}
.footer{
    color: rgba(255, 255, 255, 0.7);
    max-width: 75vw;
    padding-bottom: 200px;
    padding-top: 10px;
    margin: auto;
    font-family: poppins;

}
.footertext b{
    text-decoration:underline;
}
.footertext{
    padding: 30px 0px;
    font-weight: 400;
    font-size: 16px;
}
.footergrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.gridflex{
    display: flex;
    flex-direction: column;
    gap: 9px;
    font-weight: 400;
    font-size: 16px;
}
.gridflex a{
    color: rgba(255, 255, 255, 0.7);
}


*{
    margin: 0px;
    padding: 0px;
}


